.header {
  height: 50px;
  width: 100%;
  background-color: green;
}
.App-intro {
  font-size: large;
}
.logo {
  margin-top: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.userImg {
  width: 40px;
  border: 2px solid #006400;
  border-radius: 4px;
  max-height: 40px;
  margin-right: 4px;
}
.username {
  padding-left: 50px;
  text-align: left;
}

tbody:nth-child(even) {
  background-color: #f2f2f2;
}
.mainTable {
  width: 100%;
}
.leaderboard-header {
  margin-left: 10%;
  text-align: center;
  width: 80%;
}
